
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<form method="post" action="~/FileUpload/Post" enctype="multipart/form-data">
    @*<input type="file" name="photos[0]" />
        <input type="file" name="photos[1]" />
        <input type="file" name="photos[2]" />*@
    <input type="file" name="photos" />

    <input type="submit" />
</form>

